module.exports = {
<%

  branches.forEach(function (branch, i, list) {
    var req = "require('./" + utils.snakeCase(branch) + "')";
    if (branch === gruntUtils.branches._default) {
      print("  '_default': " + req + ',\n');
    }

    print("  '" + branch + "': " + req + (i === list.length - 1 ? '' : ',\n'));
  });

%>
};
