module.exports = {
<%


  branches.forEach(function (branch, i, list) {
    function printVersion(name) {
      print(`  get '${name}'() { return require('./${utils.snakeCase(branch)}'); },\n`)
    }

    if (branch === gruntUtils.branches._default) printVersion('_default');
    printVersion(branch);
  });

%>};
