/* jshint maxlen: false */

var ca = require('../client_action').<%

if (!clientActionModifier) print('factory');
else print('makeFactoryWithModifier(' +  clientActionModifier.toString() + ')');

%>;
var namespace = require('../client_action').namespaceFactory;
var api = module.exports = {};

api._namespaces = <%= stringify(namespaces) %>;<%

_.each(actions, function (action) {
  var namespace = action.location.split('.').shift();
  if (_.contains(namespaces, namespace)) {
    _.pull(namespaces, namespace);
%>

api.<%= namespace %> = namespace();<%
  }%>

<%= partials.client_action(action) %><%

});

_.each(proxies, function (action) {%>

<%= partials.client_action_proxy(action) %><%
});
%>