/* jshint maxlen: false */

var ca = require('../client_action');
var api = module.exports = {};

api._namespaces = <%= stringify(namespaces) %>;<%

_.each(actions, function (action) {
  var namespace = action.location.split('.').shift();
  if (_.contains(namespaces, namespace)) {
    _.pull(namespaces, namespace);
    var className = _.studlyCase(namespace) + 'NS';
%>

api.<%= namespace %> = function <%= className %>(transport) {
  this.transport = transport;
};<%
  }%>

<%= partials.client_action(action) %><%

});

_.each(proxies, function (action) {%>

<%= partials.client_action_proxy(action) %><%
});
%>