# Logs
logs
*.log
npm-debug.log*

# Runtime data
pids
*.pid
*.seed

# unit testing and coverage artifacts
lib-cov
coverage
coverage.lcov
.nyc_output
.grunt
.tap
rest-api-spec
yaml-rest-tests
generated-tests
junit-output

# lock files
.lock-wscript
package-lock.json
bun.lockb

# Compiled binary addons (http://nodejs.org/api/addons.html)
build/Release

# Dependency directories
node_modules
jspm_packages

# Optional npm cache directory
.npm

# Optional REPL history
.node_repl_history

# mac files
.DS_Store

# vim swap files
*.swp

# elasticsearch repo or binary files
elasticsearch*

# Generated typings, we don't commit them
# because we should copy them in the main .d.ts file
api/generated.d.ts

# documentation
docs
CODE_OF_CONDUCT.md
CONTRIBUTING.md
CHANGELOG.md

# Ignore test folder
test

# Ignore scripts folder
scripts

# ci configuration
.travis.yml
.buildkite
certs
.github

# Uncompiled source
src

# repo configurations
.dockerignore
.gitignore
catalog-info.yaml
codecov.yml
renovate.json
tsconfig.json
