/**
 * Perform a [<%= spec.name %>](<%= docUrl %>) request
 *
 * @param {Object} params - An object with parameters used to carry out this action<%
_.each(spec.params, function(param, paramName) { %>
 * @param {<%= paramType(param.type) %>} <%= paramWithDefault('params.' + paramName, param.default) %><%
 if (param.description) {
  %> - <%= param.description %><%
  }
%><% }) %>
 */
api<%= (location[0] === '[' ? '' : '.') + location %> = ca(<%= stringify(spec, true) %>);
