if (_.isNumeric(<%= get %>) || _.isInterval(<%= get %>)) {
  <%= set %> = <%= get %>;
} else {
  throw new TypeError('Invalid <%= name %>: ' + <%= get %> + ' should be a number or in interval notation (an integer followed by one of Mwdhmsy).');
}
