if (_.isInterval(<%= get %>)) {
  <%= set %> = <%= get %>;
} else {
  throw new TypeError('Invalid <%= name %>: ' + <%= get %> + ' should be in interval notation (an integer followed by one of Mwdhmsy).');
}