---
name: Node CI

on: [push, pull_request]

jobs:
  paths-filter:
    name: Detect files changed
    runs-on: ubuntu-latest
    outputs:
      skip: '${{ steps.changes.outputs.skip }}'
    steps:
      - uses: dorny/paths-filter/@v2.11.1
        id: changes
        with:
          filters: |
            skip:
              - '**/*.md'
              - '**/*.asciidoc'
              - '**/*.txt'
              - 'docs/**'
              - '.ci/**'
              - '.buildkite/**'
              - 'scripts/**'
              - 'catalog-info.yaml'

  test:
    name: Test
    runs-on: ${{ matrix.os }}
    needs: paths-filter
    # only run if files not in `skip` filter were changed
    if: needs.paths-filter.outputs.skip != 'true'

    strategy:
      fail-fast: false
      matrix:
        node-version: [14.x, 16.x, 18.x, 20.x]
        os: [ubuntu-latest, windows-latest, macOS-latest]

    steps:
      - uses: actions/checkout@v3

      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v3
        with:
          node-version: ${{ matrix.node-version }}

      # workaround for failing tests on Node.js 14.x
      # see https://github.com/actions/setup-node/issues/411
      - name: Force install specific npm version
        run: |
          npm install --global npm@8.3.1
          npm install --global npm@9.7.1

      - name: Install
        run: |
          npm install

      - name: Lint
        run: |
          npm run lint

      - name: Unit test
        run: |
          npm run test:unit

  license:
    name: License check
    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: [20.x]

    steps:
      - uses: actions/checkout@v3

      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v3
        with:
          node-version: ${{ matrix.node-version }}

      - name: Install
        run: |
          npm install

      - name: License checker
        run: |
          npm run license-checker
