name: Node CI

on: [push, pull_request]

jobs:
  test:
    name: Test
    runs-on: ${{ matrix.os }}

    strategy:
      matrix:
        node-version: [16.x, 18.x, 20.x]
        os: [ubuntu-latest, windows-latest, macOS-latest]

    steps:
      - uses: actions/checkout@v2

      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v1
        with:
          node-version: ${{ matrix.node-version }}

      - name: Install
        run: |
          npm install

      - name: Lint
        run: |
          npm run lint

      - name: Unit test
        run: |
          npm run test:unit

      - name: Acceptance test
        run: |
          npm run test:acceptance

      - name: Type Definitions
        run: |
          npm run test:types

  helpers-integration-test:
    name: Helpers integration test
    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: [16.x, 18.x, 20.x]

    steps:
      - uses: actions/checkout@v2

      - name: Configure sysctl limits
        run: |
          sudo swapoff -a
          sudo sysctl -w vm.swappiness=1
          sudo sysctl -w fs.file-max=262144
          sudo sysctl -w vm.max_map_count=262144

      - name: Runs Elasticsearch
        uses: elastic/elastic-github-actions/elasticsearch@master
        with:
          stack-version: 7.16-SNAPSHOT

      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v1
        with:
          node-version: ${{ matrix.node-version }}

      - name: Install
        run: |
          npm install

      - name: Integration test
        run: |
          npm run test:integration:helpers

  bundler-support:
    name: Bundler support
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2

      - name: Configure sysctl limits
        run: |
          sudo swapoff -a
          sudo sysctl -w vm.swappiness=1
          sudo sysctl -w fs.file-max=262144
          sudo sysctl -w vm.max_map_count=262144

      - name: Runs Elasticsearch
        uses: elastic/elastic-github-actions/elasticsearch@master
        with:
          stack-version: 7.16-SNAPSHOT

      - name: Use Node.js 14.x
        uses: actions/setup-node@v1
        with:
          node-version: 14.x

      - name: Install
        run: |
          npm install
          npm install --prefix test/bundlers/parcel-test
          npm install --prefix test/bundlers/rollup-test
          npm install --prefix test/bundlers/webpack-test

      - name: Build
        run: |
          npm run build --prefix test/bundlers/parcel-test
          npm run build --prefix test/bundlers/rollup-test
          npm run build --prefix test/bundlers/webpack-test

      - name: Run bundle
        run: |
          npm start --prefix test/bundlers/parcel-test
          npm start --prefix test/bundlers/rollup-test
          npm start --prefix test/bundlers/webpack-test

  mock-support:
    name: Mock support
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2

      - name: Use Node.js 14.x
        uses: actions/setup-node@v1
        with:
          node-version: 14.x

      - name: Install
        run: |
          npm install
          npm install --prefix test/mock

      - name: Run test
        run: |
          npm test --prefix test/mock

  license:
    name: License check
    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: [14.x]

    steps:
      - uses: actions/checkout@v2

      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v1
        with:
          node-version: ${{ matrix.node-version }}

      - name: Install
        run: |
          npm install

      - name: License checker
        run: |
          npm run license-checker
