name: Publish Package to npm
on:
  workflow_dispatch:
    inputs:
      branch:
        description: "Git branch to build and publish"
        required: true
  push:
    branches:
      - main

# kill in-progress action if another one is triggered (only for unstable publishes)
concurrency:
  group: ${{ github.event_name == 'push' && 'publish-unstable' || format('publish-manual-{0}', github.run_id) }}
  cancel-in-progress: ${{ github.event_name == 'push' }}

jobs:
  # don't publish unstable if source code has not changed
  paths-filter:
    name: Detect files changed
    if: github.event_name == 'push'
    runs-on: ubuntu-latest
    outputs:
      src: "${{ steps.changes.outputs.src }}"
    steps:
      - uses: actions/checkout@34e114876b0b11c390a56381ad16ebd13914f8d5 # v4
        with:
          persist-credentials: false
      - uses: dorny/paths-filter/@de90cc6fb38fc0963ad72b210f1f284cd68cea36 # v3.0.2
        id: changes
        with:
          filters: |
            src:
              - 'src/**'
              - 'package.json'
              - 'tsconfig.json'
              - 'index.d.ts'
              - 'index.js'

  unstable:
    name: Run tests and publish unstable
    needs: paths-filter
    if: github.event_name == 'push' && needs.paths-filter.outputs.src == 'true'
    runs-on: ubuntu-latest
    permissions:
      actions: write
      contents: write
      id-token: write
    steps:
      # pause for 30 minutes to avoid publishing more than 2x per hour
      - name: Debounce 30 minutes
        uses: zachary95/github-actions-debounce@ab7363483e2837992b8aa6be891763da00ac14f9 # v0.1.0
        with:
          wait: 1800
      - uses: actions/checkout@34e114876b0b11c390a56381ad16ebd13914f8d5 # v4
        with:
          persist-credentials: false
          ref: main
      - uses: actions/setup-node@49933ea5288caeca8642d1e84afbd3f7d6820020 # v4
        with:
          node-version: "24.x"
      - name: Install dependencies
        run: |
          npm install -g npm
          npm install
      - name: Run tests
        run: |
          env | wc -c
          npm test
      # if tests pass, publish unstable
      - name: publish unstable build
        run: |
          # set unstable version value
          unstable_tag="unstable.$(date --utc +%Y%m%d%H%M%S)"
          latest=$(npm view @elastic/elasticsearch --json | jq -r '.["dist-tags"].latest')
          next=$(npx -y 'semver@^7.7.0' -i minor "$latest")
          unstable_version="$next-$unstable_tag"

          # overwrite package.json with unstable version value
          mv package.json package.json.bak
          jq --arg v "$unstable_version" '.version = $v' package.json.bak > package.json
          rm package.json.bak

          # publish to npm
          npm publish --provenance --access public --tag "unstable"

  build:
    if: github.event_name == 'workflow_dispatch'
    runs-on: ubuntu-latest
    permissions:
      contents: write
      id-token: write
    steps:
      - uses: actions/checkout@34e114876b0b11c390a56381ad16ebd13914f8d5 # v4
        with:
          persist-credentials: false
          ref: ${{ github.event.inputs.branch }}
      - uses: actions/setup-node@49933ea5288caeca8642d1e84afbd3f7d6820020 # v4
        with:
          node-version: "24.x"
      - run: npm install -g npm
      - run: npm install
      - run: npm test
      - name: npm publish
        run: |
          version=$(jq -r .version package.json)
          tag_meta=$(echo "$version" | cut -s -d '-' -f2)
          # if no meta info on the version (e.g. a '-alpha.1' prefix), publish as a stable release
          if [[ -z "$tag_meta" ]]; then
            # get latest version on npm
            latest=$(npm view @elastic/elasticsearch --json | jq -r '.["dist-tags"].latest')

            # if $version is higher than the most recently published version, publish as-is
            if [[ $(yes | npx semver "$version" "$latest" | tail -n1) == "$version" ]]; then
              npm publish --provenance --access public
            else
              # otherwise, publish with "previous" tag
              npm publish --provenance --access public --tag "previous"
            fi
          else
            # publish as a non-stable release using the meta name (e.g. 'alpha') as the tag
            tag=$(echo "$tag_meta" | cut -d '.' -f1)
            npm publish --provenance --access public --tag "$tag"
          fi
      - name: Fetch ephemeral GitHub token
        id: fetch-token
        uses: elastic/ci-gh-actions/fetch-github-token@8a7604dfdd4e7fe21f969bfe9ff96e17635ea577 # v1.0.0
        with:
          vault-instance: "ci-prod"
      - name: Publish version on GitHub
        run: |
          version=$(jq -r .version package.json)
          tag_meta=$(echo "$version" | cut -s -d '-' -f2)
          if [[ -z "$tag_meta" ]]; then
            gh release create \
              -n "[Changelog](https://www.elastic.co/guide/en/elasticsearch/client/javascript-api/$BRANCH_NAME/changelog-client.html)" \
              --target "$BRANCH_NAME" \
              --title "v$version" \
              "v$version"
          else
            tag_main=$(echo "$version" | cut -d '-' -f1)
            gh release create \
              -n "This is a $tag_main pre-release. Changes may not be stable." \
              --latest=false \
              --prerelease \
              --target "$BRANCH_NAME" \
              --title "v$version" \
              "v$version"
          fi
        env:
          BRANCH_NAME: ${{ github.event.inputs.branch }}
          GH_TOKEN: ${{ steps.fetch-token.outputs.token }}
